<tr>
    <td>
    <table align="left" bgcolor="008c5a" style="height:5px; width:90%">
        <tbody>
        <tr>
            <td id="link_target"></td>
        </tr>
        </tbody>
    </table>
    </td>
</tr>
<tr>
    <td style="color:#1d393d; word-wrap:break-word; max-width:530px">
    <div id="title" style="padding:10px 0 0 30px">
        <!-- Article title -->
    </div>
    <div id="body">
        <!-- Article body -->
    </div>
    <p align="right" style="width:100%; max-width:530px"><a href="#x_beginning" style="color:#0ba360; text-decoration:none"><img src="http://www.inkubio.fi/sites/default/files/kuvat/viikkomaili/top-kuvake2.png" alt="Top"> </a></p>
    </td>
</tr>